---
title: "Untitled"
format: html
---

In [1]:
import anndata
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import pooch
import scanpy as sc

In [2]:
datapath = pooch.retrieve(
    url="https://figshare.com/ndownloader/files/40067737",
    known_hash="md5:b80deb0997f96b45d06f19c694e46243",
    path="../input",
    fname="pbmc3k_processed.h5ad",
)

Downloading data from 'https://figshare.com/ndownloader/files/40067737' to file '/Users/kt/Downloads/dataScience/input/pbmc3k_processed.h5ad'.

In [3]:
adata = sc.read_h5ad("../input/pbmc3k_processed.h5ad")
adata

AnnData object with n_obs × n_vars = 2638 × 11505
    obs: 'n_genes', 'percent_mito', 'n_counts', 'louvain_cell_types'
    var: 'gene_names', 'n_cells', 'gene_ids'
    uns: 'louvain', 'louvain_colors', 'pca'
    obsm: 'X_pca', 'X_tsne', 'X_umap'
    layers: 'raw'
    obsp: 'distances_all'

In [4]:
adata.obs.to_csv("../input/pbmc3k_processed.csv", index=True)
df = pd.read_csv("../input/pbmc3k_processed.csv", index_col=0)
df.head()

                  n_genes  percent_mito  n_counts louvain_cell_types
cell_barcode
AAACATACAACCAC-1      781      0.030178    2419.0        CD4 T cells
AAACATTGAGCTAC-1     1352      0.037936    4903.0            B cells
AAACATTGATCAGC-1     1131      0.008897    3147.0        CD4 T cells
AAACCGTGCTTCCG-1      960      0.017431    2639.0    CD14+ Monocytes
AAACCGTGTATGCG-1      522      0.012245     980.0           NK cells